/full page style/
 
body {
    background-color: #f0f5fc; 
    color: #0d1f3c; 
    font-family: 'Segoe UI', sans-serif;
}
   
/* navbar*/
  
.navbar-custom {
    background-color: #cce0ff;
}

.navbar-custom .navbar-brand {
    color: #0d1f3c;
    font-weight: bold;
}

.navbar-custom .nav-link {
    color: #0d1f3c;
    font-weight: 500;
}

.navbar-custom .nav-link:hover {
    color: #3399ff;
}

.navbar-custom .navbar-toggler {
    color: #3399ff;
    border-color: #90beec;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13,31,60, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/*hero section */
.hero-section {
    background-color: #cce0ff;
    color: #0d1f3c;
}

/* buttons */
.btn-primary-custom {
    background-color: #3399ff;
    color: #ffffff;
    border: none;
}

.btn-primary-custom:hover {
    background-color: #2673cc;
    color: #ffffff;
}

.btn-secondary-custom {
    background-color: #9fc4fc;
    color: #0d1f3c;
    border: none;
}

.btn-secondary-custom:hover {
    background-color: #87b5ff;
}

/* Cards*/
.card-custom {
    background: linear-gradient(135deg, #dbeafe, #b3d1ff);
    border-color: #3399ff;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
}

.card-custom h2, .card-custom h4 {
    color: #0d1f3c;
}
.card-custom i{
    font-size: 2rem;
    color: #395374;
}

/* accordion*/
.accordion-button {
    background-color: #cce0ff;
    color: #0d1f3c;
    font-weight: 500;
}

.accordion-button:hover {
    background-color: #b3d1ff;
}

.accordion-body {
    background-color: #e6f0ff;
    color: #0d1f3c;
}

/*footer */

footer {
    background-color: #0d1f3c;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}